////////////////////////////////////////////////////////////////////////////////
// IBM Plex Serif

@font-face {
    font-family: IBMPlexSerif;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url(assets/fonts/IBMPlexSerif/IBMPlexSerif-Regular.woff2) format("woff2");
}

@font-face {
    font-family: IBMPlexSerif;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url(assets/fonts/IBMPlexSerif/IBMPlexSerif-Italic.woff2) format("woff2");
}

@font-face {
    font-family: IBMPlexSerif;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url(assets/fonts/IBMPlexSerif/IBMPlexSerif-Bold.woff2) format("woff2");
}

@font-face {
    font-family: IBMPlexSerif;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url(assets/fonts/IBMPlexSerif/IBMPlexSerif-BoldItalic.woff2) format("woff2");
}

@font-face {
    font-family: IBMPlexSerif;
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    font-display: auto;
    src: url(assets/fonts/IBMPlexSerif/IBMPlexSerif-SemiBold.woff2) format("woff2");
}

@font-face {
    font-family: IBMPlexSerif;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    font-display: auto;
    src: url(assets/fonts/IBMPlexSerif/IBMPlexSerif-Light.woff2) format("woff2");
}

////////////////////////////////////////////////////////////////////////////////
// IBM Plex Sans

@font-face {
    font-family: IBMPlexSans;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url(assets/fonts/IBMPlexSans/IBMPlexSans-Text.woff2) format("woff2");
}

@font-face {
    font-family: IBMPlexSans;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url(assets/fonts/IBMPlexSans/IBMPlexSans-TextItalic.woff2) format("woff2");
}

@font-face {
    font-family: IBMPlexSans;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url(assets/fonts/IBMPlexSans/IBMPlexSans-Bold.woff2) format("woff2");
}

@font-face {
    font-family: IBMPlexSans;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url(assets/fonts/IBMPlexSans/IBMPlexSans-BoldItalic.woff2) format("woff2");
}

@font-face {
    font-family: IBMPlexSans;
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    font-display: auto;
    src: url(assets/fonts/IBMPlexSans/IBMPlexSans-SemiBold.woff2) format("woff2");
}

@font-face {
    font-family: IBMPlexSans;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    font-display: auto;
    src: url(assets/fonts/IBMPlexSans/IBMPlexSans-Light.woff2) format("woff2");
}


////////////////////////////////////////////////////////////////////////////////
// IBM Plex Sans Condensed
@font-face {
    font-family: IBMPlexSansCondensed;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url(assets/fonts/IBMPlexSans-Condensed/IBMPlexSansCondensed-Text.woff2) format("woff2");
}

@font-face {
    font-family: IBMPlexSansCondensed;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url(assets/fonts/IBMPlexSans-Condensed/IBMPlexSansCondensed-TextItalic.woff2) format("woff2");
}

@font-face {
    font-family: IBMPlexSansCondensed;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url(assets/fonts/IBMPlexSans-Condensed/IBMPlexSansCondensed-Bold.woff2) format("woff2");
}

@font-face {
    font-family: IBMPlexSansCondensed;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url(assets/fonts/IBMPlexSans-Condensed/IBMPlexSansCondensed-BoldItalic.woff2) format("woff2");
}
