#sidebar {
  .nodisplay {
    display: none;
  }
  @media print {
    display: none;
  }
  z-index: 999;
  position: fixed;
  top: 0;
  width: min(18rem, 100% - 2rem);
  height: 100%;
  right: calc(-18rem - 1px);
  // transform: translateY(-50%);
  background: rgba($color: #f8f8f8, $alpha: 0.9);
  border-left: 0.5px solid black;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;

  transition: all 0.2s;

  &.expanded {
    transform: translateX(-18rem);
    // animation-timing-function: 1s ease-in-out;
    // transition-duration: 0.2s;

    #open-sidebar-button > div {
      transition-property: transform;
      transform: rotate(0deg);
    }
  }

  #filters {
    // I don’t really understand why the item is not filling the available
    // space, but this works for now.
    margin-top: -1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .checkboxes-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;

      font-size: 1.1rem;
    }
  }

  #open-sidebar-button {
    display: block;
    position: relative;
    z-index: 1000;
    top: calc(50% - 1rem);
    // width: 1rem;

    border-radius: 2px 0px 0px 2px;
    box-shadow: none;
    border: 0.5px solid black;
    border-right: none;
    // height: 3rem;
    width: 2rem;
    right: calc((min(18rem, 100%) + 2rem) / 2 + 1px);
    @media (max-width: 650px) {
      width: 1.25rem;
      right: calc((min(18rem, 100%) + 1.25rem) / 2 + 1px);
    }
    padding-left: 0.3rem;
    padding-right: 0.3rem;

    div {
      position: relative;
      width: 100%;
      transform: rotate(180deg);
      margin: auto;
    }
  }

  #all-characters {
    pointer-events: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    margin: auto;
    padding-top: 2px;
    width: 100%;
    // max-width: max-content;
    // padding: 0 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    // height: 80%;

    .item {
      cursor: pointer;
      font-family: IBMPlexSans, Arial, Helvetica, sans-serif;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      column-gap: 0.5rem;
      width: 100%;
      font-weight: 500;
      padding: 0.15rem 0;
      padding-left: 1rem;
      border-radius: 2px;

      .icon {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        flex-grow: 0;
      }

      .character-name {
        flex-grow: 1;
      }

      .button {
        cursor: pointer;
        // flex-grow: 1;
        width: 2rem;
        height: 2rem;
        margin-left: auto;
        margin-right: 1.5rem;
        button {
          all: unset;
          color: #666;
          transform: rotate(90deg);
          width: 100%;
          height: 100%;
          text-align: center;
          user-select: none;

          &.expanded {
            transform: rotate(270deg);
          }

          // align-content: center;
        }
      }

      .ability-text {
        font-family: IBMPlexSansCondensed;
        position: relative;
        right: 1rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-bottom: 0.5px #aaa solid;
        top: 0.15rem;
        background: transparent;
        // display: none;
        width: 90%;
      }

      &.selected {
        &[data-team=good] {
          background-color: rgba($color: #1c51a1, $alpha: 0.1);
        }
        &[data-team=evil] {
          background-color: rgba($color: #940000, $alpha: 0.1);
        }
        &[data-team=traveler] {
          background: linear-gradient(90deg, rgba(#1c51a1,0.1) 0%, rgba(#1c51a1,0.1) 40%, rgba(#940000,0.1) 60%, rgba(#940000,0.1) 100%);
        }
        &[data-team=fabled] {
          background-color: rgba($color: #e0a601, $alpha: 0.2);
        }
      }
    }
  }
}
