// As will become clear, this file is the result of brain-dead trial and error.
// It needs to be substantially rewritten to reduce code duplication and to use
// better practice.

@import "fonts.scss";
@import "normalize.scss";
@import "mixins.scss";

:root {
  font-family: IBMPlexSansCondensed, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --width: min(55rem, 100% - 2rem);
}

@import "sidebar.scss";

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.input-container {
  // Not sure if this is a great way to do this, but it successfully prevents
  // the (large) input container from blocking pointer events to the script
  // when you scroll down
  pointer-events: none;
  * {
    pointer-events: auto;
  }

  position: fixed;
  font-size: 0.9rem;
  width: var(--width);
  display: flex;
  justify-content: right;
  align-items: end;
  filter: drop-shadow(0 0 1rem #f6f6f6);

  flex-direction: column;
  top: 1rem;

  .main-buttons-container {
    order: 1;
  }
  .character-form-container {
    order: 2;
  }
  .checkboxes-container {
    order: 3;
  }
}

#character-input {
    width: 9.3rem;
}

.header-container {
  position: relative;
  display: flex;
  align-items: end;
  padding-top: 2rem;
  margin-bottom: 1rem;
  width: var(--width);
  max-height: 3rem;
  margin: auto;
  #metadata {
    // max-width: 75%;
    width: calc(100% - 9.3rem - 2.5rem);
    input {
      all: unset;
      &#script-name-input {
        width: 100%;
      }
      &#script-author-input {
        width: calc(100% - 2em);
      }
    }
    margin: 0;
    margin-right: auto;
    display: block;
    justify-content: left;
    #script-name-form {
      text-align: left;
      font-size: 2rem;
      font-weight: 400;
      font-family: IBMPlexSerif, Georgia, Times, serif;
      vertical-align: middle;
    }
    #script-author-form {
      text-align: left;
      font-size: 1.2rem;
      font-family: IBMPlexSerif, Georgia, Times, serif;
      font-style: italic;
      vertical-align: middle;
      &::before {
        content: "by ";
      }
    }
  }
  @media (max-width: 520px) {
    // flex-direction: column-reverse;
    #metadata {
      #script-name-form {
        font-size: 1.25rem;
      }
      #script-author-form {
        font-size: 1rem;
      }
    } 
  }
}

.character-form-container {
  position: sticky;
  z-index: 1;
  #current-matches {
    font-size: 1rem;
    // line-height: 1.8;
    &:empty {
      display: none;
    }

    .match {
      cursor: pointer;
      border-radius: 8px;
      padding: 0.2em 0.5em;
      &:hover {
        background-color: #f3f3f3;
      }
      img.thumbnail {
        height: 1.25em;
        width: 1.25em;
        padding-right: 0.3em;
        object-fit: contain;
        vertical-align: middle;
      }
      &:first-child {
        text-decoration: underline;
        text-decoration-skip-ink: all;
      }
    }
    position: absolute;
    z-index: 2;
    text-align: left;
    width: 10.9rem;
    // margin-left: 1.1rem;
    // background-color: white;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid transparent;
    padding: 0;
    top: 2rem;
    // font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #0f0f0f;
    background-color: #ffffff;
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    // left: 50%;
    // @media not all and (max-width: 800px) {
    //   width: 12.1rem;
    // }
  }
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

#metadata {
  position: relative;
  z-index: 3;
  // width: 100%;
  // padding-bottom: 1rem;
  input {
    margin-right: 3px;
    margin-bottom: 3px;
  }
  display: flex;
  flex-flow: row wrap;
  // flex-direction:column;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0.9em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input {
  outline: none;
}

[type="checkbox"]:focus-visible {
  outline: auto;
}

#import-form, #export-form, #clear-form, #print-form {
  margin-left: 3px;
}

@media print {
  .noprint {
    display: none;
  }
}

@media not print {
  .onlyprint {
    display: none;
  }
}

// @media print {
//   @page {
//     margin-top: 0.5in;
//     margin-bottom: 0.75in;
//     margin-left: 1.25in;
//     margin-right: 1in;
//   }
// }

img.imported-icon {
  object-fit: cover;
  scale: 1.6;
}

#script {
  h3 {
    font-size: 1.1rem;
    color: #555;
    padding: 0;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    position: relative;
    margin-left: 0;
    background-color: #f6f6f6;
    z-index: -1;
    // border-top: 0.5px solid black;
    // letter-spacing: 1.3px;
    span {
      position: relative;
      z-index: 1;
      background-color: #f6f6f6;
      padding-right: 1em;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      border-top: 0.5px solid black;
      top: 1.2rem;
      width: 100%;
      left: 0%;
      z-index: 0;
    }
  }
  
  h4 {
    font-family: IBMPlexSans;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 0.25em;

    a + img {
      padding-left: 0.5em;
    }

    img.jinx-icon {
      width: 1.2em;
      height: 1.2em;
      object-fit: contain;
      cursor: pointer;
    }
  }

  width: var(--width);

  margin: auto;
  text-align: left;
  border-spacing: 0 0.5rem;
  // margin-top: 2rem;
  // margin: 1rem;
  .script .item {
    page-break-inside: avoid;
    display: grid;
    // grid-template-rows: ;
    grid-template-columns: 4.5em 1fr;
    column-gap: 1rem;
    // row-gap: 1.5rem;

    // margin-bottom: 1rem;
    .icon {
      // display: table-cell;
      width: 4.5em;
      height: 4.5em;
      // padding-right: 1.5rem;
      margin: 0;
      object-fit: contain;
      vertical-align: middle;
      align-self: center;
      cursor: pointer;
    }
    .name-and-summary {
      // display: table-cell;
      font-weight: 500;
      margin: 0;
      padding: 0;
      margin-right: auto;
      align-self: center;
      // height: 4em;
      .character-name {
        margin: 0;
        padding: 0;
        font-weight: bold;
        a {
          color: inherit;
          font-weight: bold;
        }
      }
      .character-summary {
        vertical-align: middle;
        line-height: 1.4;
      }
    }
  }
  .script {
    // h3:has(+ div:empty) {
    //   display: none;
    // }

    .townsfolk,
    .outsider,
    .minion,
    .demon {
      margin-bottom: 1rem;
      // page-break-inside: avoid;
      --nitems: 0;
      @media print, not all and (max-width: 650px) {
        display: grid;
        grid-auto-rows: max-content;
        grid-template-rows: repeat(calc(var(--nitems) / 2), 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: column;
        column-gap: 2rem;
        row-gap: 1rem; 
      }

      @media (max-width: 650px) {
        display: grid;
        grid-auto-flow: row;
        row-gap: 1rem;
      }

      @include nitems-map;
    }
  }
}

.jinxes-container {
  page-break-before: always;
  &:has(> .jinxes:empty) {
    // If display: none is used then the page-break instructions are not
    // obeyed.
    visibility: hidden;
  }
}

.jinxes {
  &:empty {
    display: none;
  }
  line-height: 1.4;
  margin: auto;

  --nitems: 0;
  @media print, not all and (max-width: 650px) {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-rows: repeat(calc(var(--nitems) / 2), 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    column-gap: 2rem;
    row-gap: 1rem; 
  }

  @media (max-width: 650px) {
    display: grid;
    grid-auto-flow: row;
    row-gap: 1rem;
  }

  @include nitems-map;

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    .icons {
      display: flex;
      flex-direction: row;
      column-gap: 0.5rem;
      img {
        width: 3rem;
        height: 3rem;
        object-fit: contain;
      }
    }
    .jinx-text {
      text-align: left;
    }
  }
}

#script h3.jinxes-heading {
  font-size: 1.3rem;
  color: #555;
  padding: 0;
  margin-bottom: 1.5rem;
  padding-top: 0.5rem;
  position: relative;
  margin-left: 0;
  background-color: #f6f6f6;
  text-align: center;
  // border-top: 0.5px solid black;
  // letter-spacing: 1.3px;
  span {
    position: relative;
    z-index: 1;
    background-color: #f6f6f6;
    padding: 0 1em;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    border-top: 0.5px solid black;
    top: 1.4rem;
    width: 100%;
    left: 0%;
    z-index: 0;
  }
}

#script {
  .jinxes-container:has(> .jinxes:empty) + .night-sheet {
    page-break-before: auto;
  }
  .night-sheet {
    &.compact {
      page-break-before: auto;
      page-break-inside: auto;
      line-height: 1.4;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .night-sheet-reminder {
        display: none;
      }
      .item:has(> .night-order-text) {
        display: none;
      }

      .first-night, .other-night {
        display: grid;
        justify-content: center;
        row-gap: 0.5rem;
        .item {
          width: fit-content;
          justify-content: left;
          margin: 0;
        }
      }
      @media (max-width: 520px) {
        grid-template-columns: 1fr;
        .first-night, .other-night {
          justify-content: left;
          .item {
            padding-left: 1rem;
          }
        }
      }
    }

    .first-night-container, .other-night-container {
      page-break-inside: avoid;
    }
    page-break-before: always;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    // columns: 2;
    column-gap: 2rem;
    padding-bottom: 3rem;

    // h3 {
    //   page-break-before: always;
    // }

    .first-night, .other-night {
      // page-break-inside: avoid;
      // width: min(45rem, 80%);
      // margin: auto;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      .item {
        display: grid;
        grid-template-columns: 3rem 1fr;
        align-items: center;
        gap: 1.5rem;

        .night-order-text {
          font-weight: bold;
        }

        img {
          width: 3rem;
          height: 3rem;
          object-fit: contain;
        }
      }
    }

    .night-sheet-char-name {
      font-family: IBMPlexSans;
      font-weight: bold;
    }

    h3 {
      font-size: 1.3rem;
      color: #555;
      padding: 0;
      margin-bottom: 1.5rem;
      padding-top: 0.5rem;
      position: relative;
      margin-left: 0;
      background-color: #f6f6f6;
      text-align: center;
      // border-top: 0.5px solid black;
      // letter-spacing: 1.3px;
      span {
        position: relative;
        z-index: 1;
        background-color: #f6f6f6;
        padding: 0 1em;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        border-top: 0.5px solid black;
        top: 1.4rem;
        width: 100%;
        left: 0%;
        z-index: 0;
      }
    }
  }
}

#compact-night-sheet-form {
  position: relative;
  top: -0.5rem;
  background-color: #f6f6f6;
  border-radius: 8px;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.2rem;
  padding-bottom: 0.2rem;
  z-index: 0;
  input {
    margin-right: 0.25rem;
  }
}

h1 {
  // float: left;
  width: 68rem;
  margin: auto;
  text-align: left;
  font-size: 2rem;
  font-weight: 400;
  font-family: IBMPlexSerif, Georgia, Times, serif;
  padding-top: 2rem;
  // margin-right: 1rem;

  span {
    font-size: 1.2rem;
    font-style: italic;
    padding-left: 2rem;
    // margin: 0 auto;
    // margin-right: 0;
    // margin-bottom: 1rem;
    vertical-align: middle;
  }
}

.jinxes-heading:has(+ .jinxes:empty) {
  display: none;
}

@media not print {
  #footer {
    font-size: .85rem;
    color: #666;
    // line-height: 1.55;
    // max-width: 32rem;
    margin: auto;
    max-width: var(--width);
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    div {
      margin-top: 0.5rem;
      line-height: 1.4;
    }

    a {
      color: inherit;
      text-decoration: underline;
      text-decoration-style: dotted;

      &:hover {
        text-decoration-style: solid;
        color: #333;
        transition-property: color;
        transition-delay: 0.05s;
      }
    }
  }
}

@media print {
  #footer {
    text-align: left;
    margin: auto;
    width: 68rem;

    .print-footer {
      .copyright {
        position: fixed;
        left: calc(50% - 34rem);
        bottom: 1rem;
        padding-left: 0.25rem;
      }
      .page-one {
        position: absolute;
        bottom: 1rem;
        right: calc(50% - 34rem);
        padding-right: 0.25rem;
      }
    }
  }
}

@media print {
  @page {
    margin: 0;
  }

  :root {
    font-size: 10px;
    background-color: white;
    // width: 55rem;
  }

  #script, .jinxes {
    width: 68rem;
    max-width: 68rem;
    padding: 1rem;
    // width: 70rem;
    margin: auto;
    h3 {
      margin: 0;
      padding: 0;
      background-color: white;
      span {
        background-color: white;
      }
      &::after {
        top: 1.1rem;
        // border-top: 1px solid grey;
      }
    }
    .townsfolk, .outsider, .minion, .demon {
      column-gap: 3rem;
    }
  }

  #script h3.jinxes-heading {
    background-color: white;
    span {
      background-color: white;
    }
    padding-top: 3rem;
    &::after {
      top: calc(1.1rem + 3rem);
    }
  }
  #script .night-sheet {
    h3 {
      background-color: white;
      span {
        background-color: white;
      }
      padding-top: 3rem;
      &::after {
        top: calc(1rem + 3rem);
      }
    }
  }

  .jinxes {
    font-size: 1rem;
  }

  .container {
    padding-top: 0.5rem;
  }
}

